@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .modal{
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md bg-white shadow-sm transition-all duration-500 ease-in-out p-3 w-[calc(100vw-4rem)] min-[400px]:w-[70%] min-[480px]:w-[calc(100vw-15rem)] sm:max-w-sm min-[600px]:w-[calc(100vw-18rem)] z-50 lg:max-h-[calc(100vh-7rem)] overflow-y-auto sm:max-h-[70%];
  }
  .comments{
    @apply text-white px-6 md:max-w-4xl flex justify-center flex-wrap xl:flex-nowrap gap-y-4 min-[560px]:justify-between min-[560px]:gap-x-3 xl:overflow-x-auto w-full
  }
}

@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
}

.animate-shake {
  animation: shake 5s infinite;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 100%;
}

table .title-row{
  background-color: gray;
}

table td,
table th{
  border-bottom: 1px solid #926b48;
  /* white-space: nowrap; */
  text-align: start;
}

table th{
  padding: .6rem 1rem;
  color: #926b48;
  font-size: .9rem;
}

table td{
  font-size: .85rem;
  padding: .75rem;
  color: #fff;
}

input, textarea{
  border-radius: .375rem;
  padding: .5rem;
  color: #926b48;
}